@{
    ViewData["Title"] = "Descriere pe scurt a aplicatiei";
}
<h1>@ViewData["Title"]</h1>

<p>Aceasta aplicatie gestioneaza filme si intrarile unor masini intr-un service. Filmele pot fi cautate dupa doua criterii:</p>
    <p>-Titlul filmului (orice sir care contine subsirul cautat de catre noi va fi afisat)</p>
    <p>-Genul filmului (pentru cautarea dupa gen se selecteaza dintr-o lista cu toate genurile din baza de date genul pe care il dorim)</p>
<p> Intrarile in service pot fi cautate dupa un criteriu: </p>
   <p> -VIN-ul autovehicului (acesta este unic pentru fiecare masina) </p>
 <p>Am validat informatile care pot fi introduse de utilizator.</p>
<p> De exemplu,VIN-ul masinii trebuie sa aiba o lungime fixa de 17 caractere si contine doar litere mari si cifre.</p>
